@tailwind base;
@tailwind components;
@tailwind utilities;

.top-wrapper {
  background-image: url('https://flowbite.com/docs/images/blog/image-1.jpg');
  height: calc(100vh - 134px);
  background-position: center;
}